In [1]:
import os 

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')

with open(data_file, 'w', encoding='utf8') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')    
    f.write('2,NA,106000\n')    
    f.write('4,NA,178100\n')    
    f.write('NA,NA,140000\n')

In [4]:
import pandas as pd
import torch
import numpy as np

In [5]:
data = pd.read_csv(data_file)

In [6]:
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [20]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]

In [21]:
inputs

   NumRooms Alley
0       NaN  Pave
1       2.0   NaN
2       4.0   NaN
3       NaN   NaN

In [22]:
outputs

0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64

In [23]:
inputs = inputs.fillna(inputs.mean(numeric_only=True))

In [24]:
inputs

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

In [26]:
# 将非数值的NaN视为一个类别
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [31]:
X, Y = torch.tensor(inputs.values), torch.Tensor(outputs.values)

In [32]:
X, Y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.]))

In [33]:
X.dtype

torch.float64

In [34]:
# view和reshape没有本质区别  尽量用reshape